:root {
  --text: #434b54;
  --blue: #3778c2;
  --green: #a2dc24;
  --grey: rgba(219, 221, 224, 0.79);
  --red: #f21905;
  --white: aliceblue;
}

#app {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 5fr;
}

.rform-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px solid #eeed84;
  background-color: var(--green);
}

.main-form {
  margin: 1em;
  padding: 1em;
}

.add-form {
  gap: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 4em;
}

.nform,
.pform,
.iform,
.dform {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1em;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.btn-form {
  width: 39%;
  height: 33px;
  border-radius: 10px;
  margin-left: 98px;
}

.link-list {
  display: grid;
  margin: 1em;
}

.link-list li {
  margin-bottom: 1em;
}

.link-list li a {
  color: #434b54;
  font-size: 1em;
  margin-bottom: 1em;
}

.link-list li a:hover {
  border: 0.8em solid var(--green);
  background-color: var(--green);
  color: #fff;
}

.home-text {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.inside_Arrows {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.rArroww_container,
.lArroww_container {
  display: flex;
  height: 5.5vh;
  width: 9%;
  align-items: center;
  justify-content: center;
}

.lArroww_container {
  border-radius: 0 76px 76px 0;
}

.rArroww_container {
  border-radius: 76px 0 0 76px;
}

.add-form-container {
  background-color: rgba(152, 181, 7, 0.89);
}

label {
  width: 35%;
  font-size: 1.2em;
}

input,
.select {
  padding: 10px;
  width: 60%;
  font-size: 20px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4em;
}

.submit button {
  width: 50%;
  padding: 8px;
  font-size: 20px;
  background-color: #adb987;
  border: none;
}

@media only screen and (max-width: 768px) {
  .socials {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .socials li {
    margin: 0 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    border: 2px solid #434b54;
    margin-bottom: 5em;
    background-color: var(--green);
  }

  .main-form {
    margin: 1em;
    padding: 1em;
  }

  .add-form {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .form-name {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 4em;
  }

  .nform,
  .pform,
  .iform,
  .dform {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
  }

  .btn-form {
    width: 39%;
    height: 33px;
    border-radius: 10px;
    margin-left: 98px;
  }

  .link-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
    border: 2px solid rgba(219, 221, 224, 0.79);
  }

  .link-list {
    display: grid;
    margin: 1em;
  }

  .link-list li {
    margin-bottom: 1em;
  }

  .link-list li a {
    color: #434b54;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .link-list li a:hover {
    border: 0.8em solid var(--green);
    background-color: var(--green);
    color: #fff;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .inside_Arrows {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
  }

  .rArroww_container,
  .lArroww_container {
    display: flex;
    height: 5.5vh;
    width: 9%;
    align-items: center;
    justify-content: center;
  }

  .lArroww_container {
    border-radius: 0 76px 76px 0;
  }

  .rArroww_container {
    border-radius: 76px 0 0 76px;
  }

  .add-form-container {
    background-color: rgba(152, 181, 7, 0.89);
  }

  .inner-form {
    width: 100%;
  }
}
