/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* car details */
:root {
  --text: #434b54;
  --blue: #3778c2;
  --green: #a2dc24;
  --grey: rgba(219, 221, 224, 0.79);
  --red: #f21905;
  --white: aliceblue;
}

a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.cDetails_container {
  display: flex;
  flex-direction: column;
  gap: 5em;
  border: 2px solid black;
  margin-bottom: 5em;
}

.carInfor {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.cDetails_image {
  width: 70%;
}

.dcar_image {
  width: 754px;
}

.mainName {
  text-align: right;
}

.cDetails_table {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
  margin-top: 3em;
}

.inside_Arrows {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  display: flex;
  padding: 16px;
}

.rArrow_container,
.lArrow_container {
  display: flex;
  height: 5.5vh;
  width: 9%;
  align-items: center;
  justify-content: center;
}

.lArrow_container {
  border-radius: 0 76px 76px 0;
}

.rArrow_container {
  border-radius: 76px 0 0 76px;
}

.dReserve_btn {
  background-color: var(--green);
  width: 19%;
  font-size: 20px;
  margin-left: 74%;
  border-radius: 27% 10%;
  border-radius: 58px 58px 58px 58px;
}

table,
th,
td {
  text-align: left;
  padding: 10px 5px;
  border-collapse: collapse;
}

table {
  font-size: 14px;
}

th {
  width: 35%;
}

tr:nth-child(odd) {
  background-color: var(--grey);
}

.arrow {
  color: var(--white);
  font-size: 27px;
}

/* reservation */

.reservation {
  box-shadow: rgba(18, 87, 1, 0.35) 0 5px 15px;
  padding: 1rem;
}

.linkReserve {
  color: var(--white);
}
