.latest_model {
  text-align: center;
  color: #99c210;
  margin-bottom: 0.3rem;
}

.mainCarpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin-top: 1rem;
}

.selected_model {
  text-align: center;
  padding: 5px;
  border-bottom: 2px dotted #99c210;
  margin-bottom: 10px;
  border-bottom-width: 0.5rem;
  color: grey;
  font-size: 1.2rem;
}

.all_cars_container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.car_card {
  display: flex;
  align-items: center;
  flex-direction: column
}

.car_card:hover {
  background-color: #99c210;
  transition: all 0.4s ease;
  transform: perspective(300px) translate3d(10px, 0, 0);
}

.car_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    background-color: goldenrod;
    height: 40vh;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0.01em 0.3em 4px 8px rgb(15 28 63 / 13%);
   background-image: radial-gradient(circle, #b78508, #456bd900 72%, transparent 61%);

}

.image img {
  height: 100%;
  width: 100%;
}

.name_description {
  max-width: 30rem;
  height: 6rem;
  padding-left: 0.5rem;
}

.name_description h4 {
  text-align: center;
  color: #ffc600;
  font-size: 1.2rem;
  font-weight: bold;
}

.name_description p {
  text-align: center;
  color: grey;
  margin-top: 0.1rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.title h1 {
  color: #434b54;
  font-size: 0.9em;
  margin: 1em;
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .image {
    height: 40vh;
  }

  .name_description {
    height: 8rem;
  }




}